In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./data/Primary_Person_use.csv')
df.head()

,CRASH_ID,UNIT_NBR,PRSN_NBR,PRSN_TYPE_ID,PRSN_OCCPNT_POS_ID,PRSN_INJRY_SEV_ID,PRSN_AGE,PRSN_ETHNICITY_ID,PRSN_GNDR_ID,PRSN_EJCT_ID,...,NONINCAP_INJRY_CNT,POSS_INJRY_CNT,NON_INJRY_CNT,UNKN_INJRY_CNT,TOT_INJRY_CNT,DEATH_CNT,DRVR_LIC_TYPE_ID,DRVR_LIC_STATE_ID,DRVR_LIC_CLS_ID,DRVR_ZIP
0,14768622,1,1,DRIVER,FRONT LEFT,NOT INJURED,27.0,HISPANIC,MALE,NO,...,0,0,1,0,0,0,DRIVER LICENSE,Texas,CLASS C,77357
1,14838637,1,1,DRIVER,FRONT LEFT,NOT INJURED,31.0,WHITE,MALE,NO,...,0,0,1,0,0,0,DRIVER LICENSE,New York,OTHER/OUT OF STATE,13830
2,14838637,2,1,DRIVER,FRONT LEFT,NOT INJURED,41.0,BLACK,MALE,NO,...,0,0,1,0,0,0,COMMERCIAL DRIVER LIC.,Texas,CLASS A,78934
3,14838641,1,1,DRIVER,FRONT LEFT,POSSIBLE INJURY,32.0,WHITE,MALE,NO,...,0,1,0,0,1,0,DRIVER LICENSE,Texas,CLASS C,76520
4,14838641,2,1,DRIVER,FRONT LEFT,NON-INCAPACITATING INJURY,34.0,BLACK,FEMALE,NO,...,1,0,0,0,1,0,ID CARD,Texas,UNLICENSED,76707

In [3]:
df.columns

Index(['CRASH_ID', 'UNIT_NBR', 'PRSN_NBR', 'PRSN_TYPE_ID',
       'PRSN_OCCPNT_POS_ID', 'PRSN_INJRY_SEV_ID', 'PRSN_AGE',
       'PRSN_ETHNICITY_ID', 'PRSN_GNDR_ID', 'PRSN_EJCT_ID', 'PRSN_REST_ID',
       'PRSN_AIRBAG_ID', 'PRSN_HELMET_ID', 'PRSN_SOL_FL',
       'PRSN_ALC_SPEC_TYPE_ID', 'PRSN_ALC_RSLT_ID', 'PRSN_BAC_TEST_RSLT',
       'PRSN_DRG_SPEC_TYPE_ID', 'PRSN_DRG_RSLT_ID', 'DRVR_DRG_CAT_1_ID',
       'PRSN_DEATH_TIME', 'INCAP_INJRY_CNT', 'NONINCAP_INJRY_CNT',
       'POSS_INJRY_CNT', 'NON_INJRY_CNT', 'UNKN_INJRY_CNT', 'TOT_INJRY_CNT',
       'DEATH_CNT', 'DRVR_LIC_TYPE_ID', 'DRVR_LIC_STATE_ID', 'DRVR_LIC_CLS_ID',
       'DRVR_ZIP'],
      dtype='object')

In [4]:
df.DEATH_CNT.value_counts()

0    156708
1       246
Name: DEATH_CNT, dtype: int64

In [5]:
units_df = pd.read_csv('./data/Units_use.csv')
units_df.head()

C:\Users\mudga\anaconda3\envs\abhay_venv\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,CRASH_ID,UNIT_NBR,UNIT_DESC_ID,VEH_PARKED_FL,VEH_HNR_FL,VEH_LIC_STATE_ID,VIN,VEH_MOD_YEAR,VEH_COLOR_ID,VEH_MAKE_ID,...,CONTRIB_FACTR_P1_ID,VEH_TRVL_DIR_ID,FIRST_HARM_EVT_INV_ID,INCAP_INJRY_CNT,NONINCAP_INJRY_CNT,POSS_INJRY_CNT,NON_INJRY_CNT,UNKN_INJRY_CNT,TOT_INJRY_CNT,DEATH_CNT
0,14768622,1,MOTOR VEHICLE,N,N,TX,4S2CK57D1X4381118,1999.0,GRY,ISUZU,...,NaN,EAST,Y,0,0,0,1,0,0,0
1,14838637,1,MOTOR VEHICLE,N,N,TX,WVWAN7AN6DE536582,NaN,GRY,VOLKSWAGEN,...,NaN,SOUTH,Y,0,0,0,1,0,0,0
2,14838637,2,MOTOR VEHICLE,N,N,TX,1FUJA6CG24LM14889,2004.0,RED,FREIGHTLINER,...,NaN,SOUTH,Y,0,0,0,1,0,0,0
3,14838637,2,MOTOR VEHICLE,N,N,TX,1FUJA6CG24LM14889,2004.0,RED,FREIGHTLINER,...,NaN,SOUTH,Y,0,0,0,1,0,0,0
4,14838637,3,TOWED/TRAILER,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NOT APPLICABLE,N,0,0,0,0,0,0,0

In [6]:
units_df.columns

Index(['CRASH_ID', 'UNIT_NBR', 'UNIT_DESC_ID', 'VEH_PARKED_FL', 'VEH_HNR_FL',
       'VEH_LIC_STATE_ID', 'VIN', 'VEH_MOD_YEAR', 'VEH_COLOR_ID',
       'VEH_MAKE_ID', 'VEH_MOD_ID', 'VEH_BODY_STYL_ID', 'EMER_RESPNDR_FL',
       'OWNR_ZIP', 'FIN_RESP_PROOF_ID', 'FIN_RESP_TYPE_ID',
       'VEH_DMAG_AREA_1_ID', 'VEH_DMAG_SCL_1_ID', 'FORCE_DIR_1_ID',
       'VEH_DMAG_AREA_2_ID', 'VEH_DMAG_SCL_2_ID', 'FORCE_DIR_2_ID',
       'VEH_INVENTORIED_FL', 'VEH_TRANSP_NAME', 'VEH_TRANSP_DEST',
       'CONTRIB_FACTR_1_ID', 'CONTRIB_FACTR_2_ID', 'CONTRIB_FACTR_P1_ID',
       'VEH_TRVL_DIR_ID', 'FIRST_HARM_EVT_INV_ID', 'INCAP_INJRY_CNT',
       'NONINCAP_INJRY_CNT', 'POSS_INJRY_CNT', 'NON_INJRY_CNT',
       'UNKN_INJRY_CNT', 'TOT_INJRY_CNT', 'DEATH_CNT'],
      dtype='object')

In [7]:
units_df.VEH_BODY_STYL_ID.value_counts()

PASSENGER CAR, 4-DOOR                65559
PICKUP                               36799
SPORT UTILITY VEHICLE                33310
PASSENGER CAR, 2-DOOR                11033
TRUCK TRACTOR                         6532
VAN                                   5659
TRUCK                                 4534
UNKNOWN                               1631
MOTORCYCLE                             781
OTHER  (EXPLAIN IN NARRATIVE)          516
BUS                                    463
POLICE CAR/TRUCK                       399
YELLOW SCHOOL BUS                      279
FIRE TRUCK                             106
AMBULANCE                               87
FARM EQUIPMENT                          57
NEV-NEIGHBORHOOD ELECTRIC VEHICLE        6
POLICE MOTORCYCLE                        3
NOT REPORTED                             2
Name: VEH_BODY_STYL_ID, dtype: int64

In [8]:
units_df.UNIT_DESC_ID.unique()

array(['MOTOR VEHICLE', 'TOWED/TRAILER', 'NON-CONTACT', 'PEDESTRIAN',
       'OTHER  (EXPLAIN IN NARRATIVE)', 'TRAIN', 'PEDALCYCLIST',
       'MOTORIZED CONVEYANCE'], dtype=object)

In [9]:
units_df.VEH_MAKE_ID.unique()

array(['ISUZU', 'VOLKSWAGEN', 'FREIGHTLINER', nan, 'HONDA', 'CHEVROLET',
       'MAZDA', 'JEEP', 'SUZUKI', 'FORD', 'ACURA', 'TOYOTA', 'DODGE',
       'MERCURY', 'PONTIAC', 'HYUNDAI', 'SUBARU', 'NISSAN', 'LEXUS',
       'SATURN', 'VOLVO', 'GMC', 'MITSUBISHI', 'KIA', 'CHRYSLER',
       'INFINITI', 'BMW', 'CADILLAC', 'LINCOLN', 'OLDSMOBILE', 'BUICK',
       'UNKNOWN', 'MINI', 'FERRARI', 'MERCEDES-BENZ', 'HUMMER', 'PORSCHE',
       'STERLING', 'HARLEY-DAVIDSON', 'NORTH AMERICAN BUS', 'LAND ROVER',
       'INTERNATIONAL', 'GEO', 'WHITEGMC', 'EAGLE', 'PETERBILT',
       'KENWORTH', 'AUDI', 'RAM', 'BLUE BIRD', 'DAEWOO',
       'ALL OTHER MAKES', 'JAGUAR', 'FIAT', 'MACK',
       'WESTERN TRUCK & TRAILER CO', 'PLYMOUTH', 'WESTERN STAR',
       'IC CORPORATION', 'ELDORADO', 'SMART', 'NEW FLYER',
       'OTHER (EXPLAIN IN NARRATIVE)', 'WHITE', 'AUTOCAR', 'JOHN DEERE',
       'KAWASAKI', 'SAAB', 'BENTLEY', 'HINO', 'MASERATI', 'YAMAHA',
       'HOMEMADE VEHICLE', 'MCI (LES AUTO BUS)', 'PIERCE', 'BUELL',
       'THOMAS', 'AMERICAN MOTORS', 'TESLA', 'REQUIRES INTERPRETATION',
       'DUCATI', 'AMERICAN IRON HORSE', 'PREVOST', 'PETER PIRSCH & SONS',
       'EMERGENCY ONE', 'CATERPILLAR', 'MOTOR COACH MND INC', 'GM',
       'GRAYCO', 'MURPHY MANUFACTURING CO', 'CRANE CARRIER', 'DATSUN',
       'CAN-AM', 'UTILIMASTER', 'RENAULT', 'PIAGGIO', 'COUNTRY COACH',
       'FLOE INTERNATIONAL', 'SPARTAN', 'TRI-QUEST INC', 'WINNEBAGO',
       'WORKHORSE', 'ORION', 'BUGATTI', 'GILLIG',
       'HYUNDAI STEEL INDUSTRIES', 'INTERNATIONAL TRAILER CORP',
       'VICTORY', 'NABORS TRAILERS', 'APRILIA', 'FORETRAVEL',
       'BUS & COACH INTL', 'NISSAN DIESEL',
       'INTERMOUNTAIN WHOLE SALE INC', 'OTTAWA', 'AUTOCAR LLC',
       'VAN HOOL', 'ROAD RAILER', 'POLARIS', 'ROLLS-ROYCE',
       'FLOW BOY MFG', 'FEDERAL MOTORS', 'KYMCO',
       'CHALLENGE-COOK BROTHERS INC', 'VESPA', 'AM GENERAL', 'INDIAN',
       'U-HAUL INTERNATIONAL', 'ASTON MARTIN',
       'MIDLAND MANUFACTURING LIMITED', 'HYOSUNG',
       'INTERNATIONAL TANK & TRAILER CORP', 'NOVA FABRICATING',
       'ULTRA LITE MFG', 'GENERAL TRAILER CO', 'EAGLE TRANSIT',
       'GALBREATH INC', 'SUPREME CORP', 'ALFA ROMEO', 'D & B TRAILER',
       'HEIL CO', 'MAC LTT', 'HOGG/DAVIS INC', 'EAGER BEAVER',
       'INDEPENDENT TRAILER MFG', 'NOVA', 'MITSUBISHI FUSO',
       'KENTUCKY MFG', 'LOTUS', 'STEPHENS PNEUMATIC',
       'WABASH NATIONAL CORP', 'FRUEHAUF', 'MCLAREN',
       'UNITED EXPRESS LINE INC', 'BRI-MAR MANUFACTURING LLC',
       'MANAC INC', 'SPARTA MANUFACTURING CORP', 'FEATHERLITE MFG INC'],
      dtype=object)

In [10]:
print(df.PRSN_INJRY_SEV_ID.unique())
print(df.PRSN_AIRBAG_ID.unique())

['NOT INJURED' 'POSSIBLE INJURY' 'NON-INCAPACITATING INJURY' 'UNKNOWN'
 'INCAPACITATING INJURY' 'KILLED' nan]
['DEPLOYED MULTIPLE' 'NOT DEPLOYED' 'DEPLOYED, FRONT' 'NOT APPLICABLE'
 'DEPLOYED, SIDE' 'UNKNOWN' nan 'DEPLOYED, REAR']

In [11]:
try:
    # Merge Units_use and Primary_Person_use on "CRASH_ID"
    merged_df = pd.merge(units_df, df, on="CRASH_ID", how="inner")

    # Apply filtering conditions
    filtered_df = merged_df[
        (merged_df['PRSN_INJRY_SEV_ID'] == 'KILLED') &
        (merged_df['PRSN_AIRBAG_ID'] == 'NOT DEPLOYED') &
        (merged_df['VEH_MAKE_ID'] != 'NA')
    ]

    # Group by VEH_MAKE_ID and count occurrences
    grouped_df = filtered_df.groupby('VEH_MAKE_ID').size().reset_index(name='count')

    # Sort by count in descending order and take the top 5
    top_5_makes = grouped_df.sort_values(by='count', ascending=False).head(5)

    # Extract VEH_MAKE_ID column as a list
    result = top_5_makes['VEH_MAKE_ID'].tolist()
    print(result)

except Exception as exception:
    print(f"Error: {exception}")

['CHEVROLET', 'FORD', 'DODGE', 'FREIGHTLINER', 'NISSAN']

In [12]:
print(df.DRVR_LIC_TYPE_ID.unique())
print(units_df.VEH_HNR_FL.unique())

['DRIVER LICENSE' 'COMMERCIAL DRIVER LIC.' 'ID CARD' 'UNKNOWN'
 'UNLICENSED' 'OTHER' nan 'OCCUPATIONAL']
['N' nan 'Y']

In [15]:
# Filter rows where PRSN_GNDR_ID is not "FEMALE"
filtered_df = df[df["PRSN_GNDR_ID"] != "FEMALE"]

# Group by DRVR_LIC_STATE_ID, count rows, and sort by count in descending order
res_df = (
    filtered_df.groupby("DRVR_LIC_STATE_ID")
    .size()
    .reset_index(name="count")
    .sort_values(by="count", ascending=False)
)

res_df.head()

   DRVR_LIC_STATE_ID  count
50             Texas  83016
52           Unknown   1960
25            Mexico    766
21         Louisiana    519
35        New Mexico    466